/* Puedes personalizar el estilo aquí según tus preferencias */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffcc; /* Amarillo claro */
}

.container {
    max-width: 750px;
}

.btn-warning {
    background-color: #ffcc00; /* Amarillo */
    color: #000; /* Texto negro para mayor contraste */
}

.important {
    font-weight: bold;
    color: #e44d26; /* Color naranja */
}

.highlight {
    text-decoration: underline;
}

.sweet-message {
    color: #7c6049; /* Color verde */
}

.birthday-gift {
    color: #1e90ff; /* Color azul */
}


#pistas {
    display: flex;
    justify-content: space-between;
}

.hints-container {
    width: 100%; /* Adjust the width as needed */
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

li span {
    margin-left: 10px;
    flex: 1;
}
